---
import Image from "astro/components/Image.astro";

//Importing translations
import * as Home from "../content/translations/home.md";

//Components
import Main_layout from "../layouts/main_layout.astro";
import Button from "../components/Button.astro";
import Section from "../components/Section.astro";
import GalleryPreview from "../components/GalleryPreview.astro";
import Title from "../components/Title.astro";
import Description from "../components/Description.astro";
import Cards from "../components/cards/Cards.astro";

// Import images for preview gallery
const images = import.meta.glob(
  "/src/images/gallery_preview/*.{svg,png,jpg,jpeg}",
  {
    eager: true,
  }
);

const t = Home.frontmatter.en;

// SVG imports
const Icon_1 = (await import(`/${t.cards[0].icon}`)).default;
const Icon_2 = (await import(`/${t.cards[1].icon}`)).default;
const Icon_3 = (await import(`/${t.cards[2].icon}`)).default;

const cards = {
  card1: {
    title: t.cards[0].title,
    text: t.cards[0].description,
    svg: Icon_1,
  },
  card2: {
    title: t.cards[1].title,
    text: t.cards[1].description,
    svg: Icon_2,
  },
  card3: {
    title: t.cards[2].title,
    text: t.cards[2].description,
    svg: Icon_3,
  },
};
---

<Main_layout title={`custom-steel.eu`}>
  <div class="bg-image h-[100vh] w-full lg:h-auto flex flex-col justify-center">
    <div
      class="pl-[10vw] pr-[15vw] sm:pr-[35vw] h-[50%] flex flex-col gap-6 sm:gap-12 mb-32 lg:mt-20 xl:mt-[20vh]"
    >
      <h1 class="text-5xl sm:text-6xl lg:text-7xl lg:mt-5">
        {t.title1}<br /><strong>{t.title2}</strong>
      </h1>
      <h2 class="text-base sm:text-3xl lg:text-3xl">
        {t.description1}
        <span class="text-accent">{t.description2}</span>
      </h2>
      <a
        class="text-xl w-42 sm:text-3xl lg:text-4xl sm:w-64 lg:w-[30vw] bg-accent text-center py-2 lg:py-4 rounded-lg"
        href=`#contact`>{t.button}</a
      >
    </div>
  </div>

  <Section>
    <Cards cards={cards} />
  </Section>

  <Section>
    <Description title={t.about.title} text={t.about.description} />
  </Section>

  <Section>
    <Title title={t.projects.title} />
    <GalleryPreview />
    <Button link={`/pl/projects`} text={t.projects.button} />
    <Section />
  </Section>
</Main_layout>
