---
//Importing markdown
import * as Home from "../content/translations/home.md";
import * as Gallery from "../content/gallery_preview.md";
import * as Con from "../content/translations/contact.md";
import * as Settings from "../content/settings.md";

//Components
import Main_layout from "../layouts/main_layout.astro";
import Button from "../components/buttons/Button_icon.astro";
import Section from "../components/Section.astro";
import GalleryPreview from "../components/GalleryPreview.astro";
import Title from "../components/Title.astro";
import Description from "../components/Description.astro";
import Cards from "../components/cards/Cards.astro";
import Hero from "../components/Hero.astro";
import Contact from "../components/Contact.astro";

//utils
import import_image from "src/lib/import_image";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = "en";

// Import images for preview gallery
const images_arr = Gallery.frontmatter[lang].images;
const images = [];

images_arr.forEach((image) => {
  images.push({ url: image.path, alt: image.alt });
});

const t = Home.frontmatter[lang];
const c = Con.frontmatter[lang];
const s = Settings.frontmatter;

// SVG imports

const Icon_1 = import_image(t.cards[0].icon);
const Icon_2 = import_image(t.cards[1].icon);
const Icon_3 = import_image(t.cards[2].icon);

const cards = {
  card1: {
    title: t.cards[0].title,
    text: t.cards[0].description,
    svg: Icon_1,
  },
  card2: {
    title: t.cards[1].title,
    text: t.cards[1].description,
    svg: Icon_2,
  },
  card3: {
    title: t.cards[2].title,
    text: t.cards[2].description,
    svg: Icon_3,
  },
};

const home = getRelativeLocaleUrl(lang, "/");
const projects = getRelativeLocaleUrl(lang, s.links[lang].projects);
const contact = getRelativeLocaleUrl(lang, s.links[lang].contact);
---

<Main_layout lang={lang}>
  <Hero
    title_1={t.title1}
    title_2={t.title2}
    description_1={t.description1}
    description_2={t.description2}
    link_text={t.button}
    link={contact}
  />

  <div class="margin">
    <Section>
      <Cards cards={cards} />
    </Section>

    <Section>
      <Description title={t.about.title} text={t.about.description} />
    </Section>

    <Section>
      <Title title={t.projects.title} />
      <GalleryPreview images={images} />
      <Button link={projects} text={t.projects.button} />
    </Section>

    <Section>
      <Contact
        title_1={c.title1}
        title_2={c.title2}
        description={c.description}
        name={c.form.name}
        email={c.form.email}
        phone={c.form.phone}
        button={c.form.button}
      />
    </Section>
  </div>
</Main_layout>
