---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import import_image from "src/lib/import_image";
import { getRelativeLocaleUrl } from "astro:i18n";
import "../assets/styles/global.css";

import * as Nav from "../content/translations/navigation.md";
import * as Settings from "../content/settings.md";
const { lang } = Astro.props;

const t = Nav.frontmatter[lang];
const s = Settings.frontmatter;

const Logo = import_image(s.logo);

const links = {
  home: {
    href: getRelativeLocaleUrl(lang, ""),
    text: t.home,
  },
  projects: {
    href: getRelativeLocaleUrl(lang, s.links[lang].projects),
    text: t.projects,
  },
  contact: {
    href: getRelativeLocaleUrl(lang, s.links[lang].contact),
    text: t.contact,
  },
};
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>{s.links.en.projects}</title>
  </head>

  <body id="body">
    <Navbar links={links} Logo={Logo} lang={lang} langs={s.langs} />
    <slot />

    <Footer />
  </body>
</html>
