---
import "../components/Navbar.astro";
import Navbar from "../components/Navbar.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import "../assets/styles/global.css";

import * as Nav from "../content/translations/navigation.md";
import * as Con from "../content/translations/contact.md";
const { title } = Astro.props;

const t = Nav.frontmatter.en;
const c = Con.frontmatter.en;

const links = {
  home: {
    href: "",
    text: t.main,
  },
  projects: {
    href: "projects",
    text: t.projects,
  },
  contact: {
    href: "#contact",
    text: t.contact,
  },
};
---

<style>
  body: {
    width: 100%;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>

  <body id="body">
    <Navbar links={links} />
    <slot />
    <Contact
      title1={c.title1}
      title2={c.title2}
      description={c.description}
      name={c.form.name}
      email={c.form.email}
      phone={c.form.phone}
      button={c.form.button}
    />
    <Footer />
  </body>
</html>
